body {
    margin: 0, auto;
    padding: 16px;
}


.member-section img {
    height: 5rem; 
    width: 5rem; 
    border-radius:100%
}

.member-section {
    border: 2px solid #cfa229; 
    margin: 10px 0px;
    padding: 10px;
    border-radius: .5rem;
}


.statImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.stat-card {
    padding: 15px;
    border-radius: 10px;
    
    flex-direction: column;
    color: black;
}

.stat-card h4 {
    font-weight: bolder;
    text-align: center;
}


.pink { background:#f5d0d2; }
.green { background:#d8e8a9; }
.yellow { background:#f0dab1; }
.blue { background:#f5d0d2; }

.main-card {
    background-color: #363636;
    color: white;
    border-radius: 1rem;
    padding: 16px 10px;
}

.action-section {
    background-color: #363636;
    border-radius: 0.5rem;
    padding: 16px 10px;
}

.action-section div {
    color:#cfa229
}
.action-section  {
    color: white;
}

.membership-section {
    border: 2px solid black;
}

.membership-section .economy,  .membership-section .foundation {
    border: 2px solid red;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.economy .header {
    border-radius: 2px;
    color: white;
    background-color: #768aa3;
}

.economy span, .foundation span {
    font-size: 20px;
}

.foundation .header {
    border-radius: 2px;
    padding:0px 5px;
    background-color: #cfa229;
}

#foundation, #economy {
    padding: 8px;
    font-size: 20px;
    background-color: #454545;
    color: white;
}

@media (min-width: 768px){
    body {
        padding: 20px;
    }
    .main-card{
        padding:20px;
        font-size:18px;
    }

    .stat-card {
        display: flex;
    }


    .stat-card div {
        display: flex;
        align-items: center;
    }

    .member-section img {
        height: 10rem; 
        width: 10rem; 
    }
    .member-section {
        border: 2px solid #cfa229; 
        margin: 0px;
        padding: 16px;
        border-radius: .5rem;
        font-size: 24px;
    }

    .stats-section {
         padding: 30px 16px
    }

}