main {
    margin: 0, auto;
    padding: 16px;
}

.member-section img {
    height: 5rem; 
    width: 5rem; 
    border-radius:100%
}

.member-section {
    border: 2px solid #cfa229; 
    margin: 10px 0px;
    padding: 10px;
    border-radius: .5rem;
}


.statImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.stat-card {
    padding: 15px;
    border-radius: 10px;
    
    flex-direction: column;
    color: black;
}

.stat-card h4 {
    font-weight: bolder;
    text-align: center;
}


.pink { background:#f5d0d2; }
.green { background:#d8e8a9; }
.yellow { background:#f0dab1; }
.blue { background:#f5d0d2; }

.main-card {
    background-color: #363636;
    color: white;
    border-radius: 1rem;
    padding: 16px 10px;
}

.action-section {
    background-color: #363636;
    border-radius: 0.5rem;
    padding: 16px 10px;
}

.action-section div {
    color:#cfa229
}
.action-section  {
    color: white;
}

.membership-section .header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 6px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}

.membership-card {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
}

#foundation, #economy {
    background-color: #363636;
    color: white;
    font-size: 20px;
}

.foundation .header {
    background-color: #cfa229;
}

.economy .header {
    background-color: #768aa3;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section div{
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: px;
    background-color: #cfa229;
    color: white;
}

footer {
    height: 40px;
    background-color: #cfa229;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 10;
    position: absolute; 
    width: 100%; 
}

.whatsapp-btn {
    position:fixed;
    bottom: -10px;
    right: -25px;
    color:white;
    padding:15px;
    border-radius:50%;
    text-decoration:none;
}

.whatsapp-btn img {
    height: 8rem;
    width: 8rem;
}

@media (min-width: 768px){
    body {
        padding: 20px;
    }
    .main-card{
        padding:20px;
        font-size:18px;
    }

    .stat-card {
        display: flex;
    }


    .stat-card div {
        display: flex;
        align-items: center;
    }

    .member-section img {
        height: 10rem; 
        width: 10rem; 
    }
    .member-section {
        border: 2px solid #cfa229; 
        margin: 0px;
        padding: 16px;
        border-radius: .5rem;
        font-size: 24px;
    }

    .stats-section {
         padding: 30px 16px
    }

    .membership-section {
        display: flex;
        justify-content: space-around;
    }

    .cta-section div {
        width: 50%;
        font-size: 20px;
    }
}