<!-- <section class="membership-section ">
    <div class="col-sm-6  mb-3">
        <div class="foundation">
            <div class="header">
                <span data-toggle="collapse" data-target="#foundation">
                    <strong>FOUNDATION</strong>
                    MEMBERSHIP
                </span>
            </div>
            <div id="foundation" class="collapse in">
                <p>
                    We invest for you, in shares and in the Mansa-X global fund.
                    Service is free online with your personal representative, but
                    service in the office may have extra charges.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="economy">
            <div class="header">
                <span  data-toggle="collapse in" data-target="#economy">
                    <strong>ECONOMY</strong> 
                    MEMBERSHIP
                </span>
            </div>
            <div id="economy" class="collapse in">
                <p>
                    We will invest your monay for you at a guaranteed rate
                    with the Mansa-X global fund. Service is free online
                    with your personal representative, but service in the
                    office may have extra charges.
                </p>
            </div>
        </div>
    </div>
</section> -->


<section class="membership-section">
    <div class="membership-card foundation mb-4 me-sm-5" >
        <div class="header" data-toggle="collapse" data-target="#foundation">
            <span><strong>FOUNDATION</strong>  MEMBERSHIP</span>  
        </div>
        <div id="foundation" class="collapse in p-3">
            <p>
                We invest for you, in shares and in the Mansa-X global fund.
                Service is free online with your personal representative, but
                service in the office may have extra charges.
            </p>
        </div>
    </div>
    <div class="membership-card economy ">
        <div class="header" data-toggle="collapse" data-target="#economy">
          <span><strong>ECONOMY</strong> MEMBERSHIP</span>  
        </div>
        <div id="economy" class="collapse in p-3">
            <p>
                We will invest your monay for you at a guaranteed rate
                with the Mansa-X global fund. Service is free online
                with your personal representative, but service in the
                office may have extra charges.
            </p>
        </div>
    </div>
</section>