<section class="p-3">
    <div class="row g-2 text-center">

        <div class="col-6">
            <div class="stat-card pink">
                <h6>Market Making</h6>
                <h4>350</h4>
            </div>
        </div>

        <div class="col-6">
            <div class="stat-card green">
                <h6>Regional Foot</h6>
                <h4>225</h4>
            </div>
        </div>

        <div class="col-6">
            <div class="stat-card yellow">
                <h6>Claims</h6>
                <h4>117</h4>
            </div>
        </div>

        <div class="col-6">
            <div class="stat-card blue">
                <h6>Claims</h6>
                <h4>321</h4>
            </div>
        </div>

    </div>
</section>