<section class="p-5">
    <div class="row g-2 text-center d-flex justify-content-between">

        <div class="col-5">
            <div class="stat-card pink">
                <div>
                    <img  class="statImg" title="Benard Makodingo" src="/assets/benard.jpg" />
                    <h6>Benard Makodingo</h6>
                </div>
                <h4>350</h4>
            </div>
        </div>

        <div class="col-5">
            <div class="stat-card green">
                <div>
                    <img class="statImg" title="KigSmall Foot" src="/assets/kigsmall.jpg" />
                    <h6>KigSmall Foot</h6>
                </div>
                <h4>225</h4>
            </div>
        </div>

        <div class="col-5">
            <div class="stat-card yellow">
                <div>
                    <img class="statImg" title="aroline Likhoi" src="/assets/caroline.jpg" />
                    <h6>Caroline Likhoi</h6>
                </div>
                <h4>117</h4>
            </div>
        </div>

        <div class="col-5">
            <div class="stat-card blue">
                <div>
                    <img class="statImg" title="aroline Likhoi" src="/assets/caroline.jpg" />
                    <h6>Caroline Likhoi</h6>
                </div>
                <h4>321</h4>
            </div>
        </div>

    </div>
</section>